* {
	padding: 0;
	margin: 0;
}


main {
	display:flex;
	justify-content: center;
	flex-direction: column; 
}

#map {
	display: inline-block;
	position: relative;
	left: auto;
	width: 60%;
	padding-bottom: 30%;
	vertical-align: middle;
	overflow: hidden;
}

#map > svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 2%;
	width: 95%;
	height: 99%;
}

@media (max-width: 800px){
	#map {
		width: 90%;
		height: 200px;
	}
}
